<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ダッシュボード</title>

	<meta id="parent" th:replace="/header/include1"></meta>
	
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="parent" th:replace="/header/title"></div>
            </div>
            <!-- /.navbar-header -->
			<!-- ヘッダー -->
			<div id="parent" th:replace="/header/header"></div>
			<!-- ヘッダー -->
            
            <!-- /.navbar-top-links -->
			<!-- サイドバー -->
			<div id="parent" th:replace="/header/sidebar"></div>
			<!-- サイドバー -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">ダッシュボード</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
			<div class="row">
				<div class="col-lg-12">
					<h4>麻生全体の緊急掲示板は<a href="http://bb.asojuku.ac.jp/emergency/s/abcc" target="_blank">こちら</a></h4>
				</div>
			</div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                            </div>
                        </div>
		               	<div class="panel-body">
		               		<div class="table-responsive">
                            		<table class="table table-bordered table-hover" id="room-list" th:object="${dashBoadDto}" >
				                       <tbody>
				                       <tr th:each="bbsDto:*{bbsList}">
				                       		<td>
				                       			<div th:if="${bbsDto.update}" >
				                       				掲示板情報「<a th:href="@{'/bbs/detail?id='+${bbsDto.bbsId}}" th:text="${bbsDto.bbsName}"></a>」が更新されています
				                       			</div>
				                       			<div th:unless="${bbsDto.update}" >
				                       				掲示板情報「<a th:href="@{'/bbs/detail?id='+${bbsDto.bbsId}}" th:text="${bbsDto.bbsName}"></a>」が追加されています
				                       			</div>
				                       		</td>
				                       </tr>
				                       <tr th:each="chatDto:*{chatList}">
				                       		<td>
				                       			<a th:href="@{'/chat/view?userId='+${chatDto.fromUserId}}" th:text="${chatDto.fromUserName}"></a>さんからメッセージが来ています
				                       		</td>
				                       </tr>
				                       </tbody>
                            		</table>
                            </div>
		               	</div>
		               	<div class="panel-footer">
		               	1週間以内に追加・更新があった掲示板と3日以内に来た個人メッセージの情報を表示しています
		               	</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

	
	<div id="parent" th:replace="/header/include2"></div>
	<div  th:replace="/header/datatable"></div>
</body>

</html>
