<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ルーム作成ダイアログ</title>

	<meta  th:replace="/header/include1">
	
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="parent" th:replace="/header/title"></div>
            </div>
            <!-- /.navbar-header -->
			<!-- ヘッダー -->
			<div id="parent" th:replace="/header/header"></div>
			<!-- ヘッダー -->
            
            <!-- /.navbar-top-links -->
			<!-- サイドバー -->
			<div id="parent" th:replace="/header/sidebar"></div>
			<!-- サイドバー -->
        </nav>
        <div id="page-wrapper" th:object="${bbsDetailDto}">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">掲示板</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                	<ol class="breadcrumb" style="margin-bottom: 5px;">
					  <li><a th:href="@{'/room/disp?id='+*{roomId}}"  th:text="*{roomName}"></a></li>
					  <li><a th:href="@{'/room/disp?id='+*{roomId}+'&cid='+*{categoryId}}"  th:text="*{categoryName}"></a></li>
					  <li class="active" th:text="*{title}"></li>
					</ol>
					
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                        	<div class="row">
	                        	<div class="h3 col-xs-8" th:text="'タイトル：'+*{title}" style=" word-wrap: break-word;"></div>
	                        	<div class="text-right col-xs-4">
	                        		<button class="form-control-sm bg-default btn btn-primary"  id="emergency_reply">BookMarkに追加</button>
		                        	<div th:unless="${session['LoginInfo'].isStudent()}">
		                        		<button class="form-control-sm bg-default btn btn-default"  id="edit_bbs">修正</button>
		                        	</div>
	                        		<div th:text="'更新者：'+*{updateName}"></div>
	                        		<div th:text="'更新日：'+*{updateDate}"></div>
	                        	</div>
                        	</div>
                        </div>
		               	<div class="panel-body">
		               		<div class="table-responsive">
		               			<table class="table" id="bbs">
		               				<tbody>
	                                	<tr>
	                                		<td>
	                                		<div class="form-group" th:utext="*{content}">
	                                		</div>
	                                		</td>
	                                	</tr>
	                                	<tr th:if="*{replyDtoList.size()}">
	                                		<td>
	                                			<table class="table table-striped" >
	                                			<tr>
	                                				<th colspan="2">返信</th>
	                                			</tr>
			                                	<tr th:each="replyDto:*{replyDtoList}" class="reply" >
			                                		<td class="col-xs-9"><div  th:text="${replyDto.content}"></div></td>
			                                		<td>
				                                		<div th:text="'返信者：'+${replyDto.writerName}"></div>
				                                		<div th:text="${replyDto.writeDate}"></div>
			                                		</td>		
			                                	</tr>
			                                	</table>
	                                		</td>
	                                	</tr>
	                                	<tr th:if="*{replyOkFlg}">
		                                	<td>
		                                		<p id="error" th:each="error : ${#fields.detailedErrors()}" th:text="${error.message}">
		                                		<form th:action="@{/bbs/reply}" method="POST" >
		                                		<input type="hidden" name="bbsId" th:value="*{bbsId}" >
		                                		<input type="hidden" name="categoryId" th:value="*{categoryId}" >
		                                		<input type="text" name="comment"  class="typeahead form-control" th:field="${bbsReplyInputForm.comment}"><button class="form-control-sm bg-default btn btn-primary"  >返信</button>
		                                		</form>
		                                	</td>
	                                	</tr>
	                                	<tr th:if="*{emergencyFlg}">
		                                	<td>
		                                		<form th:action="@{/bbs/emergency_reply}" method="POST" >
		                                			<input type="hidden" name="bbsId" th:value="*{bbsId}" >
		                                			<button class="form-control-sm bg-default btn btn-primary"  id="emergency_reply">確認しました</button>
		                                			<button type="button" class="form-control-sm bg-default btn btn-primary"  id="emergency_reply_list"  th:unless="${session['LoginInfo'].isStudent()}">確認者一覧</button>
		                                		</form>
		                                		<div th:if="*{emergencyReplyFlg}">確認済み</div>
		                                	</td>
	                                	</tr>
		               				</tbody>
		               			</table>
		               			<table class="table table-bordered table-hover" id="bbs" th:if="${bbsDetailDto.isExistAttachedFile()}">
		               				<tbody>
		               					<tr><th>添付ファイル</th></tr>
			               				<tr th:each="attachedFile:*{attachedFileList}" class="attachedfile" >
			               					<td th:text="${attachedFile.fileName}">
			               					</td>
			               					<td>
			               						<button class="form-control-sm bg-default btn btn-primary download-btn"  th:data-fid="${attachedFile.id}" th:data-fsize="${attachedFile.size}" >ダウンロード</button>
			               					</td>
			               				</tr>
		               				</tbody>
		               			</table>
		               		</div>
		               	</div>
                    </div>
                </div>
            </div>
			<input type="hidden" name="bbsId" id="hiddenBbsId" th:value="*{bbsId}" >
        </div>
	<div th:replace="/header/include2"></div>
	<div  th:replace="/header/datatable"></div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

	<script th:inline="javascript">
		$("#emergency_reply_list").on("click",function(){
			var param = $("#hiddenBbsId").val();
			
			var url = /*[[@{/bbs/emergency_reply_list}]]*/ "/bbs/emergency_reply_list";
			
			window.open(url+'?bbsId='+param);
		})
		$(".download-btn").on("click",function(){
			var fid = $(this).data("fid");
			var fsize = $(this).data("fsize");
			
			//alert("fid:"+fid+" fsize:"+fsize);
			
			var params = "fid="+fid+"&fsize="+fsize;
			var url = /*[[@{/download/bbs}]]*/ "/download/bbs";
			location.href = url+"?"+params;
		})
	</script>
	<script th:unless="${session['LoginInfo'].isStudent()}" th:inline="javascript">
	$("#edit_bbs").on("click",function(){
		var bbsId = $("#hiddenBbsId").val();
		var url = /*[[@{/bbs/edit_input}]]*/ "/bbs/edit_input";
		location.href = url + '?bbsId='+bbsId;
	})
	</script>
</body>

</html>
