<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ルーム表示</title>

	<meta  th:replace="/header/include1">
	
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="parent" th:replace="/header/title"></div>
            </div>
            <!-- /.navbar-header -->
			<!-- ヘッダー -->
			<div id="parent" th:replace="/header/header"></div>
			<!-- ヘッダー -->
            
            <!-- /.navbar-top-links -->
			<!-- サイドバー -->
			<div id="parent" th:replace="/header/sidebar"></div>
			<!-- サイドバー -->
        </nav>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" th:text="${roomDetailDto.roomName}+'の掲示板'">掲示板</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                	<p>
                	<a  th:href="@{'/bbs/input?id='+${roomDetailDto.roomId}}" class="btn btn-primary">新規作成</a>
                	</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            カテゴリ一覧
                        </div>
		               	<div class="panel-body">
		               		<ul>
		               			<li>
		               				<a   th:text="'全て ('+${roomDetailDto.roomBbsNum}+')'" class="categorylink categorylink-all"  th:data-id="-1"  th:data-cname="全て" th:data-rid="${roomDetailDto.roomId}"></a>
		               			</li>
		               			<li th:each="category:${roomDetailDto.categoryList}" >
		               				<a    th:text="${category.name}+'('+${category.bbsNum}+')'" class="categorylink"  th:data-id="${category.id}" th:data-cname="${category.name}" th:data-rid="${roomDetailDto.roomId}"></a>
		               			</li>
		               		</ul>
		               	</div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div id="title">タイトル一覧</div>
                        </div>
		               	<div class="panel-body">
		               		<table id="bbs_title_list" class="table table-bordered table-hover table-lg"> 
			               		<thead class="thead-light">
			                            <tr>
			                                <th>タイトル</th>
			                                <th>更新日</th>
			                            </tr>
			                       </thead>
			                       <tbody>
			                       </tbody>
			               	</table>
		               	</div>
                    </div>
                </div>
            </div>
        </div>
	<div th:replace="/header/include2"></div>
	<div  th:replace="/header/datatable"></div>
	<input type="hidden" id="cId" th:value="${categoryId}" >
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
	<script>
	var bbsListTable;
	$(function(){
		// datatableの設定を変更
		//alert($(".categorylink-all").data("rid"));
		var ajaxurl ;
		if( $("#cId").val() != ""){
			ajaxurl = "/bbslist/list?id="+$("#cId").val()+"&roomId="+$(".categorylink-all").data("rid");
		}else{
			ajaxurl = "/bbslist/list?id="+$(".categorylink-all").data("id")+"&roomId="+$(".categorylink-all").data("rid");
		}
		//var ajaxurl = "/bbslist/list?id="+$(".categorylink-all").data("id")+"&roomId="+$(".categorylink-all").data("rid");
		//alert(ajaxurl);
		
		
		bbsListTable = $("#bbs_title_list").DataTable({
			"bPaginate": true,
			"bLengthChange": true,
			"paging": true,
			"bFilter": true,
			"bSort": false,
			"bInfo": true,
			"bAutoWidth": false,
			"ajax": { url: ajaxurl, dataSrc: '' },
            "columns": [
            	{
            		data:"title" ,
            		type:"id",
                	render: function ( data, type, row ) {
                		return '<a href="/bbs/detail?id='+row.id+'">'+data+'</a>';
                	}
            	},
                { data: "updateDate" },
            ]
		});
		bbsListTable.draw();
		$("#title").text("全てのタイトル一覧");
		return false;
	})
	
	$(".categorylink").on("click",function(){
		//alert($(this).data("id"));
		var param = "id="+$(this).data("id")+"&roomId="+$(this).data("rid");
		var name = $(this).data("cname");
		//alert(name);
		$.ajax({
	        type : "GET",                  // HTTP通信の種類
	        url  : "/bbslist/list",                 // リクエストを送信する先のURL
	        dataType : "json",              // サーバーから返されるデータの型
	        data : param,
	        processData : false,
	        contentType: false
	    }).done(function(data) {        // Ajax通信が成功した時の処理

	    	//いったんクリア
	    	bbsListTable.clear();
	    	bbsListTable.destroy();
	    	bbsListTable = $("#bbs_title_list").DataTable({
				"bPaginate": true,
				"bLengthChange": true,
				"paging": true,
				"bFilter": false,
				"bSort": false,
				"bInfo": true,
				"data":data,
				"language": {
                    "url": /*[[@{/DataTables-1.10.16/Japanese.json}]]*/ 'Japanese.json'
                },
                "columns": [
                	{
                		data:"title" ,
                		type:"id",
	                	render: function ( data, type, row ) {
	                		return '<a href="/bbs/detail?id='+row.id+'">'+data+'</a>';
	                	}
                	},
                    { data: "updateDate" },
                ]
			});
	    	bbsListTable.draw();
	    	$("#title").text(name+"のタイトル一覧");
	    })
	})
	</script>
	
</body>

</html>
