<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ユーザー登録</title>

	<meta id="parent" th:replace="/header/include1"></meta>
	
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="parent" th:replace="/header/title"></div>
            </div>
            <!-- /.navbar-header -->
			<!-- ヘッダー -->
			<div id="parent" th:replace="/header/header"></div>
			<!-- ヘッダー -->
            
            <!-- /.navbar-top-links -->
			<!-- サイドバー -->
			<div id="parent" th:replace="/header/sidebar"></div>
			<!-- サイドバー -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">ユーザー登録</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                        		項目登録
                        </div>
                        <form action="/user/confirm"  method="post" th:object="${userInputForm}">
		               	<div class="panel-body">
		               		<p id="error" th:each="error : ${#fields.detailedErrors()}" th:text="${error.message}">
		               		<div class="table-responsive">
		               			<table class="table table-bordered table-hover" id="form">
		               				<tbody>
	                                	<tr>
	                                		<th>ロール[必須]</th>
	                                		<td>
	                                		<div class="form-group">
	                                			<select id="role" class="form-control" name="role" th:field="*{role}" >
	                                				<option value="0">学生</option>
	                                				<option value="1">教員</option>
	                                			</select>
	                                		</div>
	                                		</td>
	                                	</tr>
	                                	<tr>
	                                		<th>学籍番号[必須]</th>
	                                		<td>
	                                		<div class="form-group">
							                    <input type="text" name="studentNo" class="typeahead" placeholder="学籍番号" th:value="${createUserDto.studentNo}" th:field="*{studentNo}">
	                                		</div>
	                                		</td>
	                                	</tr>
	                                	<tr>
	                                		<th>メールアドレス[必須]</th>
	                                		<td>
	                                		<div class="form-group">
							                    <input type="text" name="mailadress" class="typeahead" placeholder="メールアドレス" th:value="${createUserDto.mailadress}" th:field="*{mailadress}">
	                                		</div>
	                                		</td>
	                                	</tr>
	                                	<tr>
	                                		<th>ニックネーム[必須]</th>
	                                		<td>
	                                		<div class="form-group">
							                    <input type="text" name="nickname" class="typeahead" placeholder="ニックネーム" th:value="${createUserDto.nickname}"  th:field="*{nickname}">
	                                		</div>
	                                		</td>
	                                	</tr>
	                                	<tr>
	                                		<th>学科[必須]</th>
	                                		<td>
	                                		<div class="form-group">
	                                			<select id="course" class="form-control" name="course_id"   th:field="*{course_id}">
	                                				<option th:each="dto:${courseList}" th:value="${dto.courseId}" th:text="${dto.courseName}" th:selected="${dto.courseId == createUserDto.courseId}"></option>
	                                			</select>
	                                		</div>
	                                		</td>
	                                	</tr>
	                                	<tr>
	                                		<th>パスワード[必須]</th>
	                                		<td>
	                                		<div class="form-group">
							                    <input type="password" name="password1" class="typeahead" placeholder="パスワードを入力してください" value=""   th:field="*{password1}">
	                                		</div>
	                                		</td>
	                                	</tr>
	                                	<tr>
	                                		<th>パスワード（確認）[必須]</th>
	                                		<td>
	                                		<div class="form-group">
							                    <input type="password" name="password2" class="typeahead" placeholder="パスワードを入力してください" value=""  th:field="*{password2}">
	                                		</div>
	                                		</td>
	                                	</tr>
	                                	<tr>
	                                		<th>入学年度[必須]</th>
	                                		<td>
	                                		<div class="form-group">
							                    <input type="text" name="admission_year" class="typeahead" placeholder="入学年度を入力してください" th:value="${createUserDto.admissionYear}"  th:field="*{admission_year}">
	                                		</div>
	                                		</td>
	                                	</tr>
		               				</tbody>
		               			</table>
		               			<div class="panel-footer">
			                     	<div class="col-xs-12 text-right">
		               					<div><input type="submit" class="btn btn-default" value="登録"></div>
		               				</div>
		               			</div>
		               		</div>
		               	</div>
		               	</form>
                    </div>
                    
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                        	CSV登録
                        </div>
		               	<div class="panel-body">
                            <div class="row">
			                     <div class="col-xs-12 text-right">
			                	<div id="error">
			                		<p id="errorMsg" ></p>
			                	</div>
			                     <form id="data_upload_form" enctype="multipart/form-data" method="post">
			                         <div><input type="file" class="btn btn-default"  name="uploadFile"></div>
			                         <div><input type="button" class="btn btn-default" value="CSV登録" id="csv_start" ></div>
			                      </form>
			                     </div>
                            </div>
		               	</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

	
	<div id="parent" th:replace="/header/include2"></div>
	
	<script>

	$('#csv_start').on('click', function() {
		//alert("csv_start")
		// 要素規定の動作をキャンセルする
        //event.preventDefault();
		
		if( !confirm("処理を開始します。途中で中断はできません。\nよろしいですか？")){
			return;
		}
		
        var ajaxUrl = "/file/csvinput";
        //alert(ajaxUrl)
		//Ajax！
        if(window.FormData){
        	var formData = new FormData($('#data_upload_form').get()[0]);
        	$.ajax({
                type : "POST",                  // HTTP通信の種類
                url  : ajaxUrl,                 // リクエストを送信する先のURL
                dataType : "json",              // サーバーから返されるデータの型
                data : formData,                // サーバーに送信するデータ
                processData : false,
                contentType: false,

    	        beforeSend : function(xhr, settings) {
    	            // disturb double submit
    	            $("#csv_start").attr('disabled', true);
    	    		dispLoading("CSV登録処理中...");
    	        },
    	        complete : function(xhr, textStatus) {
    	            // allow resubmit
    	            $("#csv_start").attr('disabled', false);
    	        }
    	        
            }).done(function(json) {        // Ajax通信が成功した時の処理
                $("#csv_start").attr('disabled', false);
    			$("#errorMsg").text("");
    			//エラーメッセージがある場合はエラーを表示する
        		if( json.errorMsg != null){
    	    		$("#errorMsg").text(json.errorMsg);
        		}else if(json.now > 0){
        			alert("登録完了しました！\n処理件数"+json.total+"件");
        		}
                removeLoading();
            }).fail(function(XMLHttpRequest, textStatus, errorThrown) { // Ajax通信が失敗した時の処理
                alert("アップロードが失敗しました。"+textStatus+" errorThrown:"+errorThrown);
            });
        }else{
        	alert("アップロードに対応できていないブラウザです。");
        }
	});
	

	// Loadingイメージ表示関数
	function dispLoading(msg){
	    // 画面表示メッセージ
	    var dispMsg = "";

	    $("#loading").remove();
	    // 引数が空の場合は画像のみ
	    if( msg != "" ){
	        dispMsg = "<div class='loadingMsg'>" + msg + "</div>";
	    }
	    // ローディング画像が表示されていない場合のみ表示
	    //if($("#loading").size() == 0){
	        $("body").append("<div id='loading'>" + dispMsg + "</div>");
	    //}
	}


	// Loadingイメージ削除関数
	function removeLoading(){
	 $("#loading").remove();
	}
	</script>
</body>
</html>
