<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ルーム作成</title>

	<meta id="parent" th:replace="/header/include1"></meta>
	
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

<div th:fragment="modalempselect">
<div class="modal" id="modal-emp-select" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                        <span aria-hidden="true">&times;</span>
                    </button>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                            	ユーザー選択
                            </div>
                        </div>
		               	<div class="panel-body">
		               		<table class="table table-bordered table-hover table-lg">
		               			 <thead class="thead-light">
			                            <tr>
			                            	<th>学科</th>
			                            	<td>
			                            		<select id="course" class="form-control" name="course_id">
			                            			<option value="">指定なし</option>
	                                				<option th:each="dto:${courseList}" th:value="${dto.courseId}" th:text="${dto.courseName}" ></option>
	                                			</select>
			                            	</td>
			                            	<th>学年</th>
			                            	<td>
			                            	<select id="grade" name="grade">
			                            		<option value="">指定なし</option>
			                            		<option value="1">1年</option>
			                            		<option value="2">2年</option>
			                            		<option value="3">3年</option>
			                            		<option value="4">4年</option>
			                            	</select>
			                            	</td>
			                            </tr>
			                            <tr>
			                            	<th>メール（部分一致）</th>
			                            	<td><input name="mail" type="text" id="mail"></td>
			                            	<th>名前（部分一致）</th>
			                            	<td><input name="nickname" type="text" id="nickname"></td>
			                            </tr>
			                            <tr>
			                            	<td colspan="4"><input id="student_search_button" type="button" value="検索"></td>
			                            </tr>
			                      </thead>
		               		</table>
		               		<table id="modal-emplist-table" class="table table-bordered table-hover table-lg"> 
			               		<thead class="thead-light">
			                            <tr>
			                                <th><input type="checkbox" class="editor-active" id="chkAllUser" ></th>
			                                <th>学科</th>
			                                <th>学年</th>
			                                <th>学籍番号</th>
			                                <th>名前</th>
			                                <th>メール</th>
			                            </tr>
			                       </thead>
			                       <tbody>
			                       </tbody>
			               	</table>
			               	<button type="button" class="btn btn-primary" id="btn-modalemp-select" data-kind="select-btn" >選択</button>
			               	<button type="button" class="btn btn-primary" data-dismiss="modal">閉じる</button>

		               	</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    
	<script th:inline="javascript">
		var modalempdata = null;
		$(function(){
			// datatableの設定を変更
			modalemptable = $("#modal-emplist-table").DataTable({
				"bPaginate": true,
				"bLengthChange": true,
				"paging": true,
				"bFilter": false,
				"bSort": true,
				"bInfo": true,
				"scrollY": "150px",
				"language": {
                    "url": /*[[@{/DataTables-1.10.16/Japanese.json}]]*/ 'Japanese.json'
                },
                "ajax": { url: /*[[@{/getaccountlist}]]*/ 'getaccountlist', dataSrc: '' },
                "columns": [
                	{
                		data:"userId" ,
	                	render: function ( data, type, row ) {
	                		return '<input type="checkbox" class="check_user" name="chk-'+data+'">';
	                	}
                	},
                    { data: "courseName" },
                    { data: "grade" },
                    { data: "studentNo" },
                    { data: "nickname" },
                    { data: "mailadress",className:"mail" },
                ]
			});
		})
		
		//全てのチェックON/OFF
		$(document).on("change", "#chkAllUser",function() {
			var checked = $("#chkAllUser").prop("checked");
			$(".check_user").each(function(){
				$(this).prop( 'checked', checked );
			});
		})
		
		//モーダルの表示時
		$("#modal-emp-select").on('show.bs.modal', function (event) {
			var button = $(event.relatedTarget) //モーダルを呼び出すときに使われたボタンを取得
			 var param = button.data('param') //data-param の値を取得
			 //alert(param);
			
			var selectButton = $("#btn-modalemp-select");
			var kind = selectButton.data("kind");
			selectButton.data("kind","select-btn-"+param);
			$(".check_user").each(function(){
				$(this).prop( 'checked', false );
			});
			 //選択ボタンのIDを変更する
			 //$(".modal_user_select").prop("id","btn-modalemp-select-"+param);
			 //alert($(".modal_user_select").prop("id"));
		})
	
		$("#student_search_button").on("click",function(){
			//alert("student_search_button");
			var params = "";
			
			params += "course_id="
			if( $("select[name='course_id']").val() != ""){
				params += $("select[name='course_id']").val();
			}
			
			params += "&grade="
			if( $("select[name='grade']").val() != ""){
				params += $("select[name='grade']").val();
			}
			
			params += "&mail="
			if( $("input[name='mail']").val() != ""){
				if(params.length>0){ params += "&";}
				params += $("input[name='mail']").val();
			}
			
			params += "&nickname="
			if( $("input[name='nickname']").val() != ""){
				if(params.length>0){ params += "&";}
				params += $("input[name='nickname']").val();
			}
			
			alert(params);
			
			$.ajax({
		    	cache: false,
		        type : 'GET',
		        url : "searchUserSelect",
		        data :params,
		        dataType : 'json',
		        processData : false,
		        contentType: "text/html; charset=UTF-8",
		        timeout : 360000, // milliseconds

		    }).done(function(json) {
		    	alert(json);
		    }).fail(function(XMLHttpRequest, textStatus, errorThrown) {
		    	alert("err:"+textStatus);
		        console.log( textStatus  + errorThrown.toString());
		    });
		})
		
	</script>
</div>
</div>	
</body>

</html>
