<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ルーム作成ダイアログ</title>

	<meta  th:replace="/header/include1">
	
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="parent" th:replace="/header/title"></div>
            </div>
            <!-- /.navbar-header -->
			<!-- ヘッダー -->
			<div id="parent" th:replace="/header/header"></div>
			<!-- ヘッダー -->
            
            <!-- /.navbar-top-links -->
			<!-- サイドバー -->
			<div id="parent" th:replace="/header/sidebar"></div>
			<!-- サイドバー -->
        </nav>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">ルーム作成</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                            </div>
                        </div>
		               	<div class="panel-body" th:object="${roomInputForm}" >
		               		<p id="error" th:each="error : ${#fields.detailedErrors()}" th:text="${error.message}">
		               		
		               		<div class="table-responsive">
		               			<form th:action="@{/room/confirm}" method="POST" th:object="${roomInputForm}">
		               			<table class="table table-bordered table-hover" id="form">
		               				<tbody>
	                                	<tr>
	                                		<th>ルーム名[必須]</th>
	                                		<td>
	                                		<div class="form-group">
	                                			<div class="col-xs-10">
							                    	<input type="text" name="roomname" class="typeahead form-control" placeholder="ルーム名を記入してください"  th:field="*{roomName}" >
	                                			</div>
	                                		</div>
	                                		</td>
	                                	</tr>
	                                	<tr>
	                                		<th>ルーム管理者[必須]</th>
	                                		<td>
	                                		<div class="form-group">
	                                			<div class="col-xs-8">
	                                				<textarea name="roomadmin" rows="4" cols="40"  id="roomadmin" placeholder="管理者のメールアドレスをカンマ区切りで記入してください" class="form-control"  th:field="*{roomAdmins}" ></textarea>
	                                			</div>
	                                			<button type="button"  class="form-control-sm bg-default btn btn-primary" id="empchange1"
                    															data-toggle="modal" data-target="#modal-emp-select" data-param="admin" >選択</button>
	                                		</div>
	                                		</td>
	                                	</tr>
	                                	<tr>
	                                		<th>ルーム所属者[必須]</th>
	                                		<td>
	                                		<div class="form-group">
	                                			<div class="col-xs-8">
	                 							<textarea name="roombelong" rows="4" cols="40"  id="roombelong" placeholder="ルーム所属者のメールアドレスをカンマ区切りで記入してください" class="form-control" th:field="*{roomUsers}"></textarea>
	                                			</div>
	                                			<button type="button" class="form-control-sm bg-default btn btn-primary" id="empchange3"
                    															data-toggle="modal" data-target="#modal-emp-select" data-param="user" >選択</button>
	                                			<br><input type="checkbox" name="all_student" value="all" th:field="*{allUserFlg}">全ての学生
	                                		</div>
	                                		</td>
	                                	</tr>
		               				</tbody>
		               			</table>
		               			
		               			<button type="submit" class="form-control-sm bg-default btn btn-primary" >確認</button>
		               			</form>
		               		</div>
		               	</div>
                    </div>
                </div>
            </div>
        </div>
	<div th:replace="/header/include2"></div>
	<div  th:replace="/header/datatable"></div>
	<div th:replace="input_room_select_dlg::modalempselect"></div>
        <!-- /#page-wrapper -->
 <script>
 
 $(document).on("click","#btn-modalemp-select", function() {

	 	var type = $(this).data("kind");
	 	var targetDisp;
	 	//alert(type);
	 	//管理者、サブ管理者、所属の３つのうちどれをクリックされたか
	 	if(  type =="select-btn-admin" ){
	 		targetDisp = $("#roomadmin");
	 	}else{
	 		targetDisp = $("#roombelong");
	 	}
     	//現在の値を取得
     	var member = targetDisp.val();
     	
		$(".check_user").each(function(){
			if( $(this).prop( 'checked' ) ){
				//alert($(this).parent().parent().find(".nickname").text());
				member = member + $(this).parent().parent().find(".mail").text()+",";
			}
		});
		//表示を更新
		targetDisp.val(member);
		//モーダルを閉じる
     	$('#modal-emp-select').modal('hide');
 });
 
 </script>
    </div>
    <!-- /#wrapper -->

	
</body>

</html>
