<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ルーム一覧</title>

	<meta  th:replace="/header/include1">
	
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="parent" th:replace="/header/title"></div>
            </div>
            <!-- /.navbar-header -->
			<!-- ヘッダー -->
			<div id="parent" th:replace="/header/header"></div>
			<!-- ヘッダー -->
            
            <!-- /.navbar-top-links -->
			<!-- サイドバー -->
			<div id="parent" th:replace="/header/sidebar"></div>
			<!-- サイドバー -->
        </nav>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">ルーム一覧</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                        </div>
		               	<div class="panel-body">
                            <div class="row">
                            <p>ルーム名をクリックするとルーム詳細画面へ遷移します</p>
                            <p>カテゴリ数をクリックするとカテゴリ一覧画面へ遷移します</p>
                            </div>
		               		<div class="table-responsive">
                            		<table class="table table-bordered table-hover" id="room-list">
                            			<thead class="thead-light">
                            			<tr>
                            				<th>ルーム名</th>
                            				<th>管理者</th>
                            				<th>カテゴリ数</th>
                            				<th>所属ユーザー数</th>
                            			</tr>
                            			</thead>
				                       <tbody>
				                       </tbody>
                            		</table>
		               		</div>
		               	</div>
                    </div>
                </div>
            </div>
        </div>
	<div th:replace="/header/include2"></div>
	<div  th:replace="/header/datatable"></div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
	<script th:inline="javascript">
	/*<![CDATA[*/
	var modalemptable;
	$(function(){
		// datatableの設定を変更
		modalemptable = $("#room-list").DataTable({
			"bPaginate": true,
			"bLengthChange": true,
			"paging": true,
			"bFilter": true,
			"bSort": true,
			"bInfo": true,
			"rowId":"roomId",
			"language": {
                "url": /*[[@{/DataTables-1.10.16/Japanese.json}]]*/ 'Japanese.json'
            },
            "ajax": { url: /*[[@{/getroomlist}]]*/' /getroomlist', dataSrc: '' },
            "columns": [
            	{
            		data:"name" ,
                	render: function ( data, type, row ) {
                		var url = /*[[@{/room/detail}]]*/ "/room/dummy";
                		return '<a href="'+url+'?roomId='+row.roomId+'">'+data+'</a>';
                	}
            	},
                { data: "adminUserName" },
                { 
                	data: "categoryNum" ,
                	render: function ( data, type, row ) {
                		var url = /*[[@{/room/disp}]]*/ "/room/detail";
                		return '<a href="'+url+'?id='+row.roomId+'">'+data+'</a>';
                	}
                },
                { data: "userNum"  },
            ]
		});
	})
	/*]]>*/
	</script>
</body>
</html>
