<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ログイン</title>

	<meta  th:replace="/header/include1">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">                    
                    	<div class="row text-center">
                    		<img th:src="@{/img/logo.png}" class="img-fluid img-responsive center-block" >
                    	</div>
                     
                        <h3 class="panel-title">ログインしてください</h3>
                    </div>
                    <div class="panel-body">
                    	<p id="error" th:text="${msg}" ></p>
                        <form th:action="@{/auth}" method="post"  role="form" th:object="${loginForm}">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="E-mail" name="mail" type="email" autofocus th:field="*{mail}">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <button class="btn btn-lg btn-success btn-block">ログイン</button>
                            </fieldset>
                        </form>                        
                    </div>
                </div>
            </div>
        </div>
        <div  class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                    	お知らせ情報
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered table-hover">
                        	<tr>
                        		<th>タイトル</th>
                        		<th>更新日</th>
                        	</tr>
                        	<tr th:each="bbs : ${infoList}">
                        		<td>
                        			<a th:href="@{'/info/disp?id='+${bbs.id}}" th:text="${bbs.title}"></a>
                        		</td>
                        		<td th:text="${bbs.updateDate}" ></td>
                        	</tr>
                        </table>
                      </div>
            	</div>
        	</div>
        </div>
    </div>

	<div th:replace="/header/include2"></div>

</body>

</html>
