<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ログイン</title>
</head>
<body>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="/css/login.css" th:href="@{/css/login.css}" rel="stylesheet"></link>
<!------ Include the above in your HEAD tag ---------->

<div class="login-body">
    <article class="container-login center-block">
		<section>
			<ul id="top-bar" class="nav nav-tabs nav-justified">
				<li class="active"><a href="#" data-target="#login-access" data-toggle="tab">Login</a></li>
				<li><a href="#" data-target="#password-access" data-toggle="tab">パスワードリセット</a></li>
			</ul>
			<div class="tab-content tabs-login col-lg-12 col-md-12 col-sm-12 cols-xs-12">
				<div id="login-access" class="tab-pane fade active in">
    				<p th:text="${msg}" ></p>
					<h2><i class="glyphicon glyphicon-log-in"></i> Login</h2>						
					<form action="/auth" method="post" accept-charset="utf-8" autocomplete="off" role="form" class="form-horizontal">
						<div class="form-group ">
							<label for="login" class="sr-only">Email</label>
								<input type="text" class="form-control" name="mail" id="login_value" 
									placeholder="Email" tabindex="1" value="" />
						</div>
						<div class="form-group ">
							<label for="password" class="sr-only">Password</label>
								<input type="password" class="form-control" name="password" id="password"
									placeholder="Password" value="" tabindex="2" />
						</div>
						<div class="checkbox">
								<label class="control-label" for="remember_me">
									<input type="checkbox" name="remember_me" id="remember_me" value="1" class="" tabindex="3" /> 次回からユーザー名の入力を省略する
								</label>
						</div>
						<br/>
						<div class="form-group ">				
								<button type="submit" name="log-me-in" id="submit" tabindex="5" class="btn btn-lg btn-primary">ログイン</button>
						</div>
					</form>			
				</div>
                <div id="password-access" name="password-access" class="tab-pane fade">
                    <h2><i class="glyphicon glyphicon-lock"></i> Password Dimenticata</h2>
                    <form method="post" accept-charset="utf-8" autocomplete="off" role="form" class="form-horizontal">
                        <div class="form-group">
                            <label type="text" class="sr-only" for="password-reset">Email Address</label>
                            <input name="password-reset" id="password-reset" class="form-control" placeholder="Email Address" value="" tabindex="6">
                        </div>
                        <div class="form-group">
                            <button type="submit" name="password-reset-button" id="submit" tabindex="7" class="btn btn-lg btn-success">Reset Password</button>
                        </div>
                    </form>
                </div>
            </div>
		</section>
	</article>
</div>
</body>
</html>