<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>チャット画面</title>

	<meta  th:replace="/header/include1">
	<link  th:href="@{/css/chat/style.css}" rel="stylesheet">
	
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="parent" th:replace="/header/title"></div>
            </div>
            <!-- /.navbar-header -->
			<!-- ヘッダー -->
			<div id="parent" th:replace="/header/header"></div>
			<!-- ヘッダー -->
            
            <!-- /.navbar-top-links -->
			<!-- サイドバー -->
			<div id="parent" th:replace="/header/sidebar"></div>
			<!-- サイドバー -->
        </nav>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" >チャット画面</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                	<p>
                	
	                    <button type="button" class="form-control-sm bg-default btn btn-primary" id="empchange3"
                    				data-toggle="modal" data-target="#modal-emp-select" data-param="user" >ユーザー選択</button>

                	</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                        	<div id="chat_title">チャット</div>
                            
                        </div>
		               	<div class="panel-body">
							  <!-- ▼LINE風ここから -->
							  <div class="line__container">
							    <!-- ▼会話エリア scrollを外すと高さ固定解除 -->
							    <div class="line__contents scroll">
														
							    </div>
							    <!--　▲会話エリア ここまで -->
							  </div>
							  <!--　▲LINE風ここまで -->
							  <input type="text" class="typeahead form-control" name="comment" id="chat_comment">
							  <input type="hidden" id="targetUserId" th:value="${targetUserId}">
							  <button class="btn btn-default" id="chat_send">送信</button>
		               	</div>
                    </div>
                </div>
            </div>
        </div>
	<div th:replace="/header/include2"></div>
	<div  th:replace="/header/datatable"></div>
	<div th:replace="input_room_select_dlg::modalempselect"></div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
	<script th:inline="javascript">
	var chatTimer;	//チャット監視タイマー
	var bbsListTable;
	$(function(){
		var userId = $("#targetUserId").val();
		if( userId != "" ){
			//alert(userId);
			loadMessaes(userId,true);
	    	//監視開始
	    	chatTimer=setInterval("chatMonitor()",5000);
		}
	})
	
	$("#chat_send").on("click",function(){
		var userId = $("#targetUserId").val();
		var comment = $("#chat_comment").val();
		//alert("userId="+userId);
		//alert("comment="+comment);
		if( userId == "" ){
			alert("「ユーザー選択」でチャットする相手を選んでください");
			return;
		}

		var url =  /*[[@{/chat/send_comment}]]*/ "/chat/send_comment";
		var ajaxurl = url + "?userId="+userId+"&comment="+comment;

		$.ajax({
	        type : "GET",                  // HTTP通信の種類
	        url  : ajaxurl,                 // リクエストを送信する先のURL
	        dataType : "json",              // サーバーから返されるデータの型
	        processData : false,
	        contentType: false,
	    }).done(function(data) {        // Ajax通信が成功した時の処理
	    	//alert(data.messageList);
	    	outputAllMessage(data,true);
	    	$("#chat_comment").val("");
	    }).fail(function(XMLHttpRequest, textStatus, errorThrown) { // Ajax通信が失敗した時の処理
	        alert("チャット情報の取得に失敗しました");
	    });
	})
	
	function outputAllMessage(data,bAutoScroll){
    	var htmlText = "";
    	for( var i = 0; i < data.messageList.length; i++  ){
    		htmlText += outputMessage(data.targetUserId,data.targetUserName,data.myUserId,data.messageList[i]);
    	}
    	$(".line__contents").html(htmlText);
    	if( bAutoScroll ){
    		var obj = $(".line__contents");
    		obj.scrollTop(obj.get(0).scrollHeight);
    	}
	}
	
	function chatMonitor(){
		var userId = $("#targetUserId").val();
		if( userId == ""){
			clearInterval(chatTimer);
			return;
		}
		loadMessaes(userId,false);
	}
	
	function outputMessage(targetUserId,targetUserName,myUserId,chatDto){
		var outputHtml = "";
		//左 or 右
		if( targetUserId == chatDto.sendUserId ){
			//発言者が相手＝左の吹き出し
			outputHtml += '<div class="line__left">';
			outputHtml += '<div class="name">'+targetUserName+'</div>';
		}else{
			//発言者が自分＝右の吹き出し
			outputHtml += '<div class="line__right">';
		}
		//発言、日付を追加
		outputHtml += '<div class="text">'+chatDto.message+'</div>';
		outputHtml += '<span class="date">'+chatDto.date+'</span>';
		outputHtml += "</div>";
		
		return outputHtml;
	}
	
	function loadMessaes(userId,bAutoScroll){
		var url = /*[[@{/chat/getmsglist}]]*/ "/chat/getmsglist";
		var ajaxurl = url + "?userId="+userId;

		$.ajax({
	        type : "POST",                  // HTTP通信の種類
	        url  : ajaxurl,                 // リクエストを送信する先のURL
	        dataType : "json",              // サーバーから返されるデータの型
	        processData : false,
	        contentType: false
	    }).done(function(data) {        // Ajax通信が成功した時の処理
	    	//alert(data.myUserName);
	    	//alert(data.targetUserName);
	    	$("#chat_title").html(data.targetUserName+"さんとのチャット");
	    	outputAllMessage(data,bAutoScroll);
	    	
	    }).fail(function(XMLHttpRequest, textStatus, errorThrown) { // Ajax通信が失敗した時の処理
	        alert("チャット情報の取得に失敗しました");
	    });
		
		$("#targetUserId").val(userId);
		
		return false;
	}
	
	//ユーザー選択クリック時
	 $(document).on("click","#btn-modalemp-select", function() {
		 	var count = 0;
		 	var checkUser;
		 	
			$(".check_user").each(function(){
				if( $(this).prop( 'checked' ) ){
					count++;
					checkUser = $(this).parent().parent().find(".check_user").attr("name");
				}
			});
			if( count > 1 ){
				alert("選択は一つだけにしてください");
				return ;
			}
			//alert(checkUser);
			//Ajaxでチャット内容を取得
			var userId = checkUser.substr(4);
			var myUserId = /*[[${session['LoginInfo'].userId}]]*/ 0;
			
			if( myUserId == userId ){
				alert("チャットの相手は自分以外を選択してください");
				return;
			}
			
			loadMessaes(userId,true);
	    	//監視開始
	    	chatTimer=setInterval("chatMonitor()",5000);
			
			//モーダルを閉じる
	     	$('#modal-emp-select').modal('hide');
	 })
	 
	</script>
	
</body>

</html>
