<ul class="nav navbar-top-links navbar-right">
	<div th:text="${session['LoginInfo'].courseName} + ' ' + ${session['LoginInfo'].nickName}" ></div>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li><a href="#"><i class="fa fa-user fa-fw"></i> ユーザー情報</a>
            </li>
            <li><a href="#"><i class="fa fa-gear fa-fw"></i> パスワード変更</a>
            </li>
            <li><a href="#"><i class="fa fa-gear fa-fw"></i> パスワードリセット</a>
            </li>
            <li class="divider"></li>
            <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> ログアウト</a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
</ul>