	<link rel="shortcut icon" th:href="@{/favicon.ico}" >
    <!-- Bootstrap Core CSS -->
	<link href="/sbadmin/bootstrap/css/bootstrap.min.css" th:href="@{/sbadmin/bootstrap/css/bootstrap.min.css}" rel="stylesheet"></link>

    <!-- MetisMenu CSS -->
    <link href="/sbadmin/metisMenu/metisMenu.min.css" th:href="@{/sbadmin/metisMenu/metisMenu.min.css}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/sbadmin/dist/css/sb-admin-2.css" th:href="@{/sbadmin/dist/css/sb-admin-2.css}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/sbadmin/morrisjs/morris.css" th:href="@{/sbadmin/morrisjs/morris.css}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/sbadmin/font-awesome/css/font-awesome.min.css" th:href="@{/sbadmin/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">

	<!-- main -->
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    