
    <!-- jQuery -->
    <script src="/sbadmin/jquery/jquery.min.js" th:src="@{/sbadmin/jquery/jquery.min.js}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/sbadmin/bootstrap/js/bootstrap.min.js" th:src="@{/sbadmin/bootstrap/js/bootstrap.min.js}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/sbadmin/metisMenu/metisMenu.min.js" th:src="@{/sbadmin/metisMenu/metisMenu.min.js}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/sbadmin/dist/js/sb-admin-2.js" th:src="@{/sbadmin/dist/js/sb-admin-2.js}"></script>
    
    <!-- original js -->
    <script src="/js/main.js" th:src="@{/js/main.js}"></script>
