
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a th:href="@{/dashboad}"><i class="fa fa-dashboard fa-fw"></i> ダッシュボード</a>
                        </li>
                        <li id="sidebar_bbs_list" >
                            <a href="#" class="room_list_drop" ><i class="fa fa-group fa-fw"></i> ルーム一覧<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level" id="room_list_top" >
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a th:href="@{/chat/view}"><i class="fa fa-wechat "></i> チャット</a>
                        </li>
                        <li th:unless="${session['LoginInfo'].isStudent()}">
                            <a th:href="@{/user/input}"><i class="fa fa-user-plus fa-fw"></i> ユーザー登録</a>
                        </li>
                        <li th:if="${session['LoginInfo'].isManager()}">
                            <a th:href="@{/room/input}"><i class="fa fa-home fa-fw"></i> ルーム作成</a>
                        </li>
                        <li th:unless="${session['LoginInfo'].isStudent()}">
                            <a th:href="@{/room/list}"><i class="fa fa-home fa-fw"></i> 全ルーム一覧</a>
                        </li>
                        <li th:if="${session['LoginInfo'].isManager()}">                            
                            <a href="#" class="master_mainte_drop" ><i class="fa fa-edit fa-fw"></i> マスタメンテ<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level" id="master_mainte_top" >
                            	<li>
                            		<a th:href="@{/master/courselist}" >学科マスタ</a>
                            		<a href="#" >学生マスタ</a>
                            	</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>