
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/dashboad"><i class="fa fa-dashboard fa-fw"></i> ダッシュボード</a>
                        </li>
                        <li id="sidebar_bbs_list">
                            <a href="#" class="room_list_drop" ><i class="fa fa-bar-chart-o fa-fw"></i> ルーム一覧<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level" id="room_list_top" >
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="/chat/view"><i class="fa fa-wechat "></i> チャット</a>
                        </li>
                        <li th:unless="${session['LoginInfo'].isStudent()}">
                            <a href="/user/input"><i class="fa fa-user-plus fa-fw"></i> ユーザー登録</a>
                        </li>
                        <li th:if="${session['LoginInfo'].isManager()}">
                            <a href="/room/input"><i class="fa fa-home fa-fw"></i> ルーム作成</a>
                        </li>
                        <li th:unless="${session['LoginInfo'].isStudent()}">
                            <a href="/room/list"><i class="fa fa-home fa-fw"></i> ルーム編集</a>
                        </li>
                        <li th:if="${session['LoginInfo'].isManager()}">
                            <a href="forms.html"><i class="fa fa-edit fa-fw"></i> マスタメンテ</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>